*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightcyan;
}

.left-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 25px;
    gap: 5px;
}

.left-container button{
    height: 50px;
    width: 100px;

}

.right-container {
    flex: 1;
    height: 100%;
}

.container {
    width: 740px;
    height: 740px;
    border: 5px solid black;
    background-color: white;
    display: flex;
    
}

.container div{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}