*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Chalkduster, fantasy;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightcyan;
    flex-direction: column;
}

header {
    flex: 1;
    display: flex;
    align-items: center;
    color: #ff9999;
    font-size: 80px;
    font-weight: 900;
}

.top {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.left-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.left-container button{
    height: 50px;
    width: 100px;
    background-color: slateblue;
    border: none;
    border-radius: 5px;
    color: #fff;

}

.left-container button:hover{
    transform: translatex(3px);
    transition: 0.3s;
    background-color: lightseagreen;
    cursor: pointer;
}

.right-container {
    flex: 1;
    height: 100%;
}

.container {
    width: 740px;
    height: 740px;
    border: 5px solid steelblue;
    background-color: white;
    display: flex;
    margin-inline: 10px;
    cursor: crosshair;
}

.container div{
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
}

#slider {
    cursor: pointer;
}





